<h1>Volunteer Projects</h1>
<h3>Available Projects</h3>

<% if @Projects.any? %>
  <ul>
    <% @Projects.each do |Project| %>
      <li><a href="/projects/<%= project.id%>"><%= project.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are curently no projects to display.</p>
<% end %>

<a href="/projects/new">Add a new project</a>
